body, #dice-choice, #roll-result, #roll-dice {
    font-family: 'Antic Slab', serif;
    background-color: #f3dc9f;
    color: #634945;
}

body {
    margin-top: 5em;
    text-align: center;
}


h1 {
    font-family: 'MedievalSharp', cursive;
    font-size: 4em;
    margin-bottom: 1em;
}

#dice-choice, #roll-result, #roll-dice {
    margin-top: 1em;
}

#roll-result {
    font-family: 'MedievalSharp', cursive;
    font-size: 4em;
}

#dice-choice, #roll-dice {
    font-weight: bolder;
    background-color: #e95b27;
    color: #634945;
    border-color: #634945;
    padding: 1em;
    border-radius: 5px;
}



